ipam:
  mode: kubernetes

kubeProxyReplacement: true

k8sServiceHost: "${cluster_vip}"
k8sServicePort: ${cluster_endpoint_port}

cgroup:
  autoMount:
    enabled: false
  hostRoot: /sys/fs/cgroup

securityContext:
  capabilities:
    ciliumAgent:
      - CHOWN
      - KILL
      - NET_ADMIN
      - NET_RAW
      - IPC_LOCK
      - SYS_ADMIN
      - SYS_RESOURCE
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
    cleanCiliumState:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE

tls:
  ca:
    cert: "${cilium_ca_cert}"
    key: "${cilium_ca_key}"

hubble:
  enabled: true
  relay:
    enabled: true
    tls:
      client:
        cert: "${hubble_relay_cert}"
        key: "${hubble_relay_key}"
  tls:
    enabled: true
    auto:
      enabled: false
    ca:
      cert: "${cilium_ca_cert}"
      key: "${cilium_ca_key}"
    server:
      cert: "${hubble_server_cert}"
      key: "${hubble_server_key}"
  ui:
    enabled: true
