machine:
  network:
    nameservers:
%{ for ns in nameservers ~}
      - ${ns}
%{ endfor ~}
    interfaces:
      - interface: ens18
        addresses:
          - ${ip}/24
        routes:
          - network: 0.0.0.0/0
            gateway: ${gateway}
%{ if is_cp && cluster_vip != "" ~}
        vip:
          ip: ${cluster_vip}
%{ endif ~}
  install:
    disk: /dev/sda
    image: ${install_image}
  nodeLabels:
    topology.kubernetes.io/region: ${region}
    topology.kubernetes.io/zone: ${zone}
%{ for k, v in node_labels ~}
    ${k}: ${v}
%{ endfor ~}
  kubelet:
    extraConfig:
      serverTLSBootstrap: true
%{ if length(node_taints) > 0 ~}
      registerWithTaints:
%{ for taint in node_taints ~}
        - key: ${taint.key}
          value: ${taint.value}
          effect: ${taint.effect}
%{ endfor ~}
%{ endif ~}

%{ if is_cp ~}
cluster:
  network:
    cni:
      name: none
  proxy:
    disabled: true
%{ if length(extra_manifests) > 0 ~}
  extraManifests:
%{ for manifest in extra_manifests ~}
    - ${manifest}
%{ endfor ~}
%{ endif ~}
%{ endif ~}
